{% extends 'vinyl_store/base.html' %}

{% block title %}
    {% if form.instance.pk %}
        Edytuj artystę
    {% else %}
        Dodaj artystę
    {% endif %}
{% endblock %}

{% block content %}
    <h1>
        {% if form.instance.pk %}
            Edytuj artystę
        {% else %}
            Dodaj artystę
        {% endif %}
    </h1>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn">Zapisz</button>
    </form>
{% endblock %}